<template>
  <div>
    <v-data-table
      :loading="dataTableLoading"
      :headers="headers"
      :items="items"
      :options.sync="pagination"
      :items-per-page="5"
      :server-items-length="totalItems"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text': 'Rows per page',
        'items-per-page-options': [5, 10, 25]
      }"
    >
      <template v-slot:top>
        <v-layout wrap>
          <v-flex xs12 sm12 md4 mt-3 pl-4>
            <div class="text-left">
              <v-toolbar-title>TITLE</v-toolbar-title>
            </div>
          </v-flex>
          <!-- <v-flex xs12 sm6 md4 px-3>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              :label="$t('dataTable.SEARCH')"
              single-line
              hide-details
              clearable
              id="search"
              clear-icon="mdi-close"
            ></v-text-field>
          </v-flex> -->
          <v-flex xs12 sm6 md4 mb-2 mt-2 pr-2>
            <!-- <ValidationObserver
              ref="observer"
              v-slot="{ invalid }"
              tag="form"
              @submit.prevent="submit()"
            > -->
            <v-dialog
              v-model="dialog"
              max-width="500px"
              content-class="dlgNewEditItem"
            >
              <template v-slot:activator="{ on }">
                <div class="text-right">
                  <v-btn color="secondary" v-on="on" class="btnNewItem">
                    <v-icon class="mr-2">mdi-plus</v-icon>
                    NEW ITEM
                  </v-btn>
                </div>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <!-- <template v-if="editedItem._id">
                          <v-flex xs12 md6>
                            <label for="createdAt">{{
                              $t('common.CREATED')
                            }}</label>
                            <div name="createdAt">
                              {{ getFormat(editedItem.createdAt) }}
                            </div>
                          </v-flex>
                          <v-flex xs12 md6>
                            <label for="updatedAt">{{
                              $t('common.UPDATED')
                            }}</label>
                            <div name="updatedAt">
                              {{ getFormat(editedItem.updatedAt) }}
                            </div>
                          </v-flex>
                        </template> -->
                      <v-flex xs12>
                        <!-- <ValidationProvider
                            rules="required"
                            v-slot="{ errors }"
                          > -->
                        <v-text-field
                          requierd
                          id="name"
                          name="name"
                          v-model="editedItem.name"
                          label="Name"
                          autocomplete="off"
                        ></v-text-field>
                        <!-- </ValidationProvider> -->
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red lighten3"
                    text
                    @click="close"
                    class="btnCancel"
                    >CANCEL</v-btn
                  >
                  <v-btn
                    color="green lighten3"
                    text
                    @click="save"
                    class="btnSave"
                    >SAVE</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- </ValidationObserver> -->
          </v-flex>
        </v-layout>
      </template>
      <template v-slot:[`item._id`]="{ item }">
        <v-layout class="justify-center">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn id="edit" icon v-on="on" @click="editItem(item)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>EDIT</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn id="delete" icon v-on="on" @click="deleteItem(item)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>DELETE</span>
          </v-tooltip>
        </v-layout>
      </template>
      <!-- <template v-slot:[`item.createdAt`]="{ item }">
        {{ getFormat(item.createdAt) }}
      </template>
      <template v-slot:[`item.updatedAt`]="{ item }">
        {{ getFormat(item.updatedAt) }}
      </template> -->
      <template
        v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
      >
        {{ pageStart }} - {{ pageStop }}
        of
        {{ itemsLength }}
      </template>
      <template v-slot:no-data>NO_DATA</template>
      <template v-slot:no-results>NO_RESULTS</template>
    </v-data-table>
    <!-- <SuccessMessage /> -->
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { buildPayloadPagination } from '@/utils/utils.js'

export default {
  metaInfo () {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: 'Cities'
    }
  },
  data () {
    return {
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['name']
    }
  },
  computed: {
    formTitle () {
      return this.editedItem._id ? 'EDIT ITEM' : 'NEW ITEM'
    },
    headers () {
      return [
        {
          text: 'Actions',
          value: '_id',
          sortable: false,
          width: 100
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Description',
          align: 'left',
          sortable: true,
          value: 'description'
        },
        {
          text: 'Created At',
          align: 'left',
          sortable: true,
          value: 'createdAt'
        },
        {
          text: 'Updated At',
          align: 'left',
          sortable: true,
          value: 'updatedAt'
        }
      ]
    },
    items () {
      return this.$store.state.adminCities.cities
    },
    totalItems () {
      return this.$store.state.adminCities.totalCities
    }
  },
  watch: {
    dialog (value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler () {
        try {
          this.dataTableLoading = true
          await this.getCities(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    }
    // async search () {
    //   clearTimeout(this.delayTimer)
    //   this.delayTimer = setTimeout(() => {
    //     this.doSearch()
    //   }, 400)
    // }
  },
  methods: {
    ...mapActions(['getCities', 'editCity', 'saveCity', 'deleteCity']),
    // getFormat (date) {
    //   window.__localeId__ = this.$store.getters.locale
    //   return getFormat(date, 'iii, MMMM d yyyy, h:mm a')
    // },
    // async doSearch () {
    //   try {
    //     this.dataTableLoading = true
    //     await this.getCities(
    //       buildPayloadPagination(this.pagination, this.buildSearch())
    //     )
    //     this.dataTableLoading = false
    //     // eslint-disable-next-line no-unused-vars
    //   } catch (error) {
    //     this.dataTableLoading = false
    //   }
    // },
    buildSearch () {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    // editItem (item) {
    //   this.editedItem = Object.assign({}, item)
    //   this.dialog = true
    // },
    // async deleteItem (item) {
    //   try {
    //     const response = await this.$confirm(
    //       this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
    //       {
    //         title: this.$t('common.WARNING'),
    //         buttonTrueText: this.$t('common.DELETE'),
    //         buttonFalseText: this.$t('common.CANCEL'),
    //         buttonTrueColor: 'red lighten3',
    //         buttonFalseColor: 'green'
    //       }
    //     )
    //     if (response) {
    //       this.dataTableLoading = true
    //       await this.deleteCity(item._id)
    //       await this.getCities(
    //         buildPayloadPagination(this.pagination, this.buildSearch())
    //       )
    //       this.dataTableLoading = false
    //     }
    //     // eslint-disable-next-line no-unused-vars
    //   } catch (error) {
    //     this.dataTableLoading = false
    //   }
    // },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        try {
          this.dataTableLoading = true
          // Updating item
          if (this.editedItem._id) {
            await this.editCity(this.editedItem)
            await this.getCities(
              buildPayloadPagination(this.pagination, this.buildSearch())
            )
            this.dataTableLoading = false
          } else {
            // Creating new item
            await this.saveCity({ name: this.editedItem.name })
            await this.getCities(
              buildPayloadPagination(this.pagination, this.buildSearch())
            )
            this.dataTableLoading = false
          }
          this.close()
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
          this.close()
        }
      }
    }
  }
}
</script>
