<template>
  <v-app>
    <Toolbar />
    <v-main class="text-center">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Toolbar from '@/components/core/Toolbar.vue'

export default {
  name: 'App',

  components: {
    Toolbar
  },

  data: () => ({
    //
  })
}
</script>
